body {
  /* Body */
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-logo {
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.header-logo span {
  color: #2e2f42;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav-adress {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-style: normal;
  gap: 40px;
}
.header-item {
  margin-right: 40px;
}
.header-item:last-child {
  margin-right: 0px;
}
.header-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-adress-list {
  display: flex;

  gap: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.header-item-link {
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  text-decoration: none;
}
.header-item-link:hover,
.header-item-link:focus {
  color: #404bbf;
}
.header-item-link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: -1px;
  position: absolute;
}
.header-item-link.active {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-adress-link:last-child {
  margin-right: 0px;
}
.nav-adress-link {
  color: #434455;
  gap: 40px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-adress-link:hover,
.nav-adress-link:focus {
  color: #404bbf;
}

/* section hero */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.hero button {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero button:hover,
.hero button:focus {
  background-color: #404bbf;
}
/* section about */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-list {
  color: #2e2f42;
  font-size: 20px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.about-list-item {
  width: calc((100% - 72px) / 4);
}
.subtitle-text {
  margin-top: 0;
  margin-bottom: 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 40px; /* 111.111% */
  text-transform: capitalize;
  margin-top: 0;
}
.item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.02em;
}
.subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  height: 112px;
  border-radius: 4px;
}
/* section team */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  margin: auto;
  padding-left: 0;
}
.team-list-item {
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}
.item-title {
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}
.team-item-text {
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}
.team-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 0;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #f4f4fd;
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}
.socials-icon {
  fill: currentColor;
}
/* Section project */

.projects {
  padding-top: 120px;
  padding-bottom: 120px;
}
.projects-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
  margin-top: 0;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.projects-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.projects-item-text {
  margin-top: 0;
  margin-bottom: 0;
}
.projects-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.projects-wrapper {
  position: relative;
  overflow: hidden;
}
.projects-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list-item:hover .overlay {
  transform: translateY(0);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;

  margin: 0%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-wrapper {
  margin-right: 120px;
}
.footer-logo {
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  margin-top: 0;
  margin-bottom: 0;
  width: 264px;
}
.footer-text-media {
  color: #ffffff;
  width: 100%;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-socials {
  display: block;
  margin-top: 0px;
  margin-bottom: 0;
  gap: 16px;
}
.footer-socials-item {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0;
  gap: 16px;
  padding-left: 0;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #f4f4fd;
  padding-left: 0;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-wrapper {
  margin-left: auto;
}
.footer-caption {
  color: #fff;
  font-weight: 500;
  margin: 0;
  margin-bottom: 16px;
}
.form-subscribe {
  display: flex;
  align-items: center;
  gap: 24px;
}

.form-subscribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  background-color: transparent;
  color: #fff;

  font-size: 12px;

  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  padding: 8px 16px;
}
.form-subscribe-input::placeholder {
  color: currentColor;
}
.form-subscribe-btn {
  color: #fff;
  text-align: center;
  min-width: 165px;
  height: 40px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border: none;
  font-weight: 500;

  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background: #4d5ae5;
}
.form-subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-modal-btn-close:hover,
.backdrop-modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-wrapper {
  margin-bottom: 8px;
}
.form-wrapper {
  margin-bottom: 16px;
}
.modal {
  position: absolute;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 24px;
  width: 408px;
  min-height: 584px;
  padding-top: 72px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  font-weight: 500;
  color: #2e2f42;
  margin: 0;
  background-color: #fff;
  width: 360px;
  text-align: center;
  margin-bottom: 16px;
}

.modal-button {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
  display: block;
  color: #8e8f99;
  margin-bottom: 4px;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-field {
  position: relative;
  /* margin-bottom: 8px; */
}
.form-imput {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-imput:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-imput:focus + .form-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  margin-bottom: 16px;
  padding: 8px 16px;
  outline: none;
  color: rgba(46, 47, 66, 0.4);
  /* line-height: 1.17; */
  font-size: 12px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message:focus {
  border-color: #4d5ae5;
}
.form-message::placeholder {
  color: currentColor;
}
/* checkbox */

.modal-form-checkbox {
  display: block;
  margin-bottom: 24px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
/* .form-agreement-icon {
  opacity: 0;
  transition: opacity color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.form-agreement-link {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.checkbox:checked + .form-agreement-checkbox {
  background-color: #404bbf;
  border-color: transparent;
}
/* .checkbox:checked + .form-agreement > .form-agreement-checkbox > .form-agreement-icon {
  opacity: 1;
} */
input[type='checkbox']:checked ~ .form-agreement > .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
